@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-oxford-blue: #050d31;
  --color-midnight-green: #0b5457;
  --color-zomp: #119b7d;
  --color-emerald: #13ce83;
  --color-primary: #DC3545;
}
:root {

    --color-primary: #007BFF;
    --color-secondary: #28A745;
    --color-background: #FFFFFF;
    --color-surface: #F8F9FA;
    --color-text-default: #343A40;
    --color-text-subtle: #6C757D;
    --color-accent-error: #DC3545;
    --oxford-blue: #050d31ff;
    --oxford-two: rgb(3, 8, 30);
    --midnight-green: #0b5457ff;
    --zomp: rgb(9, 98, 79);
    --emerald: rgb(16, 141, 91)
}


/* html, body {
    overflow-x: hidden;
} */

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    transition: background-color 0.3s, color 0.3s; 
}


.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-background); 
}
