@import "tailwindcss"; 

:root{
  --black: #000000;
  --oxford-blue: #071028;
  --oxford-two: #081735;
  --midnight-green: #0f766e;
  --emerald: #10b981;
  --zomp: #39a2a6;
}


::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--oxford-blue); }
::-webkit-scrollbar-thumb { background: var(--midnight-green); border-radius: 12px; }
* { scrollbar-width: thin; scrollbar-color: var(--midnight-green) var(--oxford-blue); }
