@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-oxford-blue: #050d31;
  --color-midnight-green: #0b5457;
  --color-zomp: #119b7d;
  --color-emerald: #13ce83;
  --color-primary: #13ce83;
}
:root {

    --color-primary: #007BFF;
    --color-secondary: #28A745;
    --color-background: #FFFFFF;
    --color-surface: #F8F9FA;
    --color-text-default: #343A40;
    --color-text-subtle: #6C757D;
    --color-accent-error: #DC3545;
}

.dark-theme {
    
    --color-primary: #4DA6FF;
    --color-secondary: #4CAF50;
    --color-background: #121212;
    --color-surface: #1E1E1E;
    --color-text-default: #E0E0E0;
    --color-text-subtle: #A0A0A0;
    --color-accent-error: #FF5252;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    transition: background-color 0.3s, color 0.3s; 
}


.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-background); 
}