@import "tailwindcss";

:root {
    /* Tema Claro - Valores por defecto */
    --color-primary: #007BFF;
    --color-secondary: #28A745;
    --color-background: #FFFFFF;
    --color-surface: #F8F9FA;
    --color-text-default: #343A40;
    --color-text-subtle: #6C757D;
    --color-accent-error: #DC3545;
    --oxford-blue: #050d31ff;
    --oxford-two: rgb(3, 8, 30);
    --midnight-green: #0b5457ff;
    --zomp: rgb(9, 98, 79);
    --emerald: rgb(16, 141, 91);


}


body {
    background-color: var(--oxford-two);
    color: var(--color-text-default);
    transition: background-color 0.3s, color 0.3s; /* Transición suave de temas */
}

/* Ejemplo de cómo usarla en un componente */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-background); /* Texto blanco en botón azul */
    /* ... otros estilos */
}
