@import "tailwindcss"; 

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-oxford-blue: #071028;
  --color-oxford-two: #081735;
  --color-midnight-green: #0f766e;
  --color-zomp: #39a2a6;
  --color-emerald: #10b981;
  --color-primary: #DC3545;
}

:root{
  --black: #000000;
  --oxford-blue: #071028;
  --oxford-two: #081735;
  --midnight-green: #0f766e;
  --emerald: #10b981;
  --zomp: #39a2a6;
}

body {
    background-color: var(--color-background);
    color: var(--color-text-default);
    transition: background-color 0.3s, color 0.3s; 
}


.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-background); 
}


::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: var(--oxford-blue); }
::-webkit-scrollbar-thumb { background: var(--midnight-green); border-radius: 12px; }
* { scrollbar-width: thin; scrollbar-color: var(--midnight-green) var(--oxford-blue); }
